<center>
<h1>Events Show</h1>


<b>Date</b> <%= @events[:date] %> <br>
<b>Venue Name</b> <%= @events[:venue_name] %> <br>
<b>Address</b> <%= @events[:address] %> <br>
<b>Compacity</b> <%= @events[:compacity] %> <br>
<b>Attendance</b> <%= @events[:attendance] %> <br>
<b>Settle</b> <%= @events[:settle] %> <br>
<b>Total</b> <%= @events[:total] %> <br>
<b>Complete</b> <%= @events[:complete] %> <br>
<b>id_of_tour</b> <%= @events[:id_of_tour] %> <br>


</center>
