<div class="container">
<h1 class="center aligned">Tours</h1>

<div class="shows">
 <div class="row">
  <% @tours.each do |x| %>
   <div class="card col s5 offset-s1">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://i.imgur.com/rHLjFPk.jpg" >
    </div>
    <div class="card-content center aligned">
      <span class="card-title activator grey-text text-darken-4"><%= x['name'] %></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= x['name'] %></span>
      <p><a href="/tours/<%= x['id'] %>" target="/tours/<%= x['id'] %>">View Concert Date Details</a></p><br>
      <b>Details </b><%= x['complete'] %><br>
      <img src="<%=x['images']%>">
      <br><br>
      <%= link_to "Remove Tour", x, method: :delete %>
    </div>
  </div>
<% end %>
</div>
<a id="newbutton" class="btn waves-effect waves-light black hidebutton">+</a>
<div class="forum-tours">
<form action="/tours" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  name  <input type="text" name="name" value="">
 Details: <input type="text" name="complete">
 Image: <input type="text" name="images">
  <!-- user_id<input type="text" name="user_id"> -->
    <input type="submit">
  </form>
  <a id="hidebut" class="btn waves-effect waves-light black hidebutton">Close</a>
</div>
</div>

<!-- <ul class="collapsible" data-collapsible="accordion">
  <% @tours.each do |x| %>
    <li>
      <div class="collapsible-header">
        <a href='/tours/<%= x['id'] %>'><%= x['name'] %></a>
      </div>
      <div class="collapsible-body">
        <b>ID: </b><%= x['id'] %></a><br>
        <b>complete: </b><%= x['complete'] %></a><br>
        <b>total: </b><%= x['total'] %></a><br>
        <span>Lorem ipsum dolor sit amet.</span>
      </div>
    </li>
    <% end %>
  </ul> -->



</div>
