<div class="container">
  <div class="tours-text-container">
    <h1 class="center aligned">Tours</h1>
    <h5 class="center aligned">Catalog A Tour</h5>
  </div>

<div class="shows">
 <div class="row">
  <% @tours.each do |x| %>
   <div class="card col s5 offset-s1 card-size">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator image" src="<%=x['images']%>" >
    </div>
    <div class="card-content center aligned">
      <span class="card-title activator grey-text text-darken-4"><%= x['name'] %></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%= x['name'] %></span>
      <p><a href="/tours/<%= x['id'] %>" target="/tours/<%= x['id'] %>">View Concert Date Details</a></p><br>
      <b>Details </b><%= x['complete'] %><br>
      <br><br>
      <%= link_to "Remove Tour", x, method: :delete %>
    </div>
  </div>
<% end %>
</div>
    <div class="center aligned button-pad">
      <a id="newbutton" class="btn waves-effect waves-light black hidebutton">+</a>
    </div>
    <div class="forum-tours">
      <form action="/tours" method='POST'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        NAME:  <input type="text" name="name" value="">
        DETAILS: <input type="text" name="complete">
        IMAGE: <input type="text" name="images">
        <div class="row center aligned button-pad">
        <input class="btn waves-effect waves-light black hidebutton" type="submit">
      </form>
      <a id="hidebut" class="btn waves-effect waves-light black hidebutton">Close</a>
    </div>
    </div>
</div>




</div>
