
<div class="container">

<center>
<h1><%= @tour[:name] %></h1> <br>
</center>
<ul class="collapsible" data-collapsible="accordion">
    <% @events.each do |x| %>
    <li>
      <div class="collapsible-header">
        <div class="row">
        <div class="col s4">
          <h2><%= x['date'] %></a></h2>
          <!-- compacity <%= x['compacity'] %> -->
        </div>
        <div class="col s4">
          <br>
          <h6><span class="venue-name"><%= x['venue_name'] %></span><br>
          address <%= x['address'] %></h6>
        </div>
        <div class="col s4">
           <br>
           <h6>attendance <%= x['settle'] %><br>
           total <%= x['total'] %><br>
           <%= link_to "Remove Event", x, method: :delete %></h6>
        </div>
        </div>
      </div>
      <div class="collapsible-body">
        <div class="merch-container"
        <% @shirts.each do |y| %>
          <% if y.events_id == x.id %>
        <h6><b><%= y['picture'] %></b>
        <b>Small's:</b> <%= y['s'] %>
        <b>Mediums's </b><%= y['m'] %>
        <b>Large </b><%= y['l'] %>
        <b> XL </b><%= y['xl'] %>
        <b> 2XL </b><%= y['twoxl'] %>
        <b>total</b> <%= y['twoxl'].to_i + y['s'].to_i %>
        <%= y['threexl'] %></h6>
        <%= link_to "Remove Shirt", x, method: :delete %>
        <br>
        <% end %>
        <% end %>



      </div>
      <a id="newbutton" class="btn waves-effect waves-light black hidebutton">Add merch</a>

        <form action="/shirts" method='POST'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div class="forum">
  <form action="/shirts" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="forum-container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s4">
                <input id="icon_prefix" type="text" class="validate" name="picture" >
                <label for="icon_prefix">Name of Shirt</label>
              </div>
              <!-- <div class="input-field col s4">
                <input id="icon_telephone" type="text" class="name">
                <label for="icon_telephone">Shirt</label>
              </div> -->
              <div class="input-field col s4">
                <input id="icon_telephone" type="text" class="total" name="total">
                <label for="icon_telephone">Total</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s2">
                <input id="icon_prefix" type="text" class="validate" name="s">
                <label for="icon_prefix">Small</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="m">
                <label for="icon_telephone">Medium</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="l">
                <label for="icon_telephone">Large</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_prefix" type="text" class="validate" name="xl">
                <label for="icon_prefix">XL</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="twoxl">
                <label for="icon_telephone">2XL</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="threexl">
                <label for="icon_telephone">3XL</label>
                <input type="hidden" name="events_id" value="<%= x['id'] %>">
                <div class="row">
                  <input class="submit-event btn waves-effect waves-light black hidebutton" type="submit">
                  <a id="hidebut" class="btn waves-effect waves-light black hidebutton">X</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </li>
    <% end %>
  </ul>

  <a id="new-event" class="btn waves-effect waves-light black hidebutton">New Event</a>
  <div class="forum-events">
    <form action="/events" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="forum-container">
        <div class="row">
          <b>Date</b>  <input type="text" name="date" value="">
          <b>Venue Name</b> <input type="text" name="venue_name">
          <b>Address</b> <input type="text" name="address">
          <b>Capacity</b> <input type="text" name="compacity">
          <b>Attendance</b> <input type="text" name="settle">
          <b>Total</b> <input type="text" name="total">
          <b>Complete</b> <input type="text" name="complete">
          <div class="row">
            <input type="hidden" name="id_of_tour" value="<%= @tour[:id] %>">
            <input class="btn waves-effect waves-light black hidebutton" type="submit">
            <a id="hide-event" class="btn waves-effect waves-light black hidebutton">Cancel Event</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
