<div class="container">
<center>
<h1><%= @tour[:name] %></h1> <br>
</center>




<ul class="collapsible" data-collapsible="accordion">
    <% @events.each do |x| %>

    <li>
      <div class="collapsible-header">
        <a href='/events/<%= x['id'] %>'><%= x['date'] %></a>
        <%= x['venue_name'] %>
        address <%= x['address'] %>
        compacity <%= x['compacity'] %>
        attendance <%= x['attendance'] %>
        settle <%= x['settle'] %>
        total <%= x['total'] %>
        complete <%= x['complete'] %>
        events  <%= x['id'] %>
        <%= link_to "Remove Event", x, method: :delete %>
      </div>
      <div class="collapsible-body">
        <% @shirts.each do |y| %>
          <% if y.events_id == x.id %>
        <%= y['events_id'] %>
        <%= y['name'] %>
        <%= y['picture'] %>
        <%= y['s'] %>
        <%= y['m'] %>
        <%= y['l'] %>
        <%= y['xl'] %>
        <%= y['twoxl'] %>
        <%= y['threexl'] %>
        <%= link_to "Remove Shirt", x, method: :delete %>
        <br>
        <% end %>
        <% end %>
        <a id="newbutton" class="btn waves-effect waves-light black hidebutton">Add a date</a>

        <form action="/shirts" method='POST'>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

<div class="forum">
  <form action="/shirts" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="forum-container">
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s4">
                <input id="icon_prefix" type="text" class="validate" name="picture" >
                <label for="icon_prefix">Picture</label>
              </div>
              <div class="input-field col s4">
                <input id="icon_telephone" type="text" class="name">
                <label for="icon_telephone">Shirt</label>
              </div>
              <div class="input-field col s4">
                <input id="icon_telephone" type="text" class="total">
                <label for="icon_telephone">Total</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s2">
                <input id="icon_prefix" type="text" class="validate" name="s">
                <label for="icon_prefix">Small</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="m">
                <label for="icon_telephone">Medium</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="l">
                <label for="icon_telephone">Large</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_prefix" type="text" class="validate" name="xl">
                <label for="icon_prefix">XL</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="twoxl">
                <label for="icon_telephone">2XL</label>
              </div>
              <div class="input-field col s2">
                <input id="icon_telephone" type="tel" class="validate" name="threexl">
                <label for="icon_telephone">3XL</label>
                <input type="hidden" name="events_id" value="<%= x['id'] %>">
                <input class="submit-event btn waves-effect waves-light black hidebutton" type="submit">
                <a id="hidebut" class="btn waves-effect waves-light black hidebutton">X</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
    </li>
    <% end %>
  </ul>

  <a id="new-event" class="btn waves-effect waves-light black hidebutton">New Event</a>

  <div class="forum-events">
    <form action="/events" method='POST'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <div class="forum-container">
        <div class="row">
          date  <input type="text" name="date" value="">
          venue_name <input type="text" name="venue_name">
          address <input type="text" name="address">
          compacity <input type="text" name="compacity">
          attendance <input type="text" name="settle">
          total <input type="text" name="total">
          complete <input type="text" name="complete">
          tour_id <input type="hidden" name="id_of_tour" value="<%= @tour[:id] %>">
          <input type="submit">
        </div>
      </div>
    </form>
    <a id="hide-event" class="btn waves-effect waves-light black hidebutton">Cancel Event</a>
  </div>
</div>
